{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<section class="heading">
  <h1>{{ title }}</h1>
</section>

<form class="form panel" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <label>{{ field.label }} {{ field }}</label>
    {% if field.help_text %}<small class="field-help">{{ field.help_text }}</small>{% endif %}
    {{ field.errors }}
  {% endfor %}
  <button class="button primary">Save Product</button>
</form>
{% endblock %}
